<div class="row">
    <div class="col-sm-12">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th class="text-center" rowspan="2">
                        <h6><b>CIVIL SERVICE/ RA 1080 (BOARD/BAR) UNDER SPECIAL LAWS/ CES/ CSEE</b></h6></th>
                    <th class="text-center" rowspan="2">
                        <h6><b>DATE OF EXAMINATION / CONFERMENT</b></h6></th>
                    <th>
                        <h6><b>DATE OF RELEASE / VALID UNTIL</b></h6></th>
                    <th>
                        <button type="button" id="addCivil" class="btn btn-xs btn-primary">
                            <i class="fa fa-plus-square"></i>
                        </button>
                    </th>
                </tr>
            </thead>
            <script type="text/javascript">
            $(function() {
                $('#addCivil').click(function() {
                    CivilAdd();
                });

                $('body').delegate('.removes', 'click', function() {
                    $(this).parent().parent().remove();
                });

            });


            function CivilAdd() {
                var n = ($('.civil tr').length - 0) + 1;
                var tr = '<tr>' +
                    '<td><select name="civil_career[]" class="form-control select2 civil_career" required=""><option value="">Select Eligibility</option><option>N/A</option><option value="LET">LET</option><option value="CS Professional">CS Professional</option><option value="CS Sub-Professional">CS Sub-Professional</option><option value="Electronic Data Processing Specialist Eligibility">Electronic Data Processing Specialist Eligibility</option><option value="Scientific and Technological Specialist Eligibility">Scientific and Technological Specialist Eligibility</option><option value="Veteran Preference Rating Eligibility">Veteran Preference Rating Eligibility</option><option value="Honor Graduate Eligibility">Honor Graduate Eligibility</option><option value="Barangay Official Eligibility">Barangay Official Eligibility</option><option value="Barangay Health Worker Eligibility">Barangay Health Worker Eligibility</option><option value="Barangay Nutrition Scholar Eligibility">Barangay Nutrition Scholar Eligibility</option><option value="Skills Eligibilities">Skills Eligibilities</option><option value="Sanggunian Member Eligibility">Sanggunian Member Eligibility</option><option value="Foreign School Honor Graduate Eligibility">Foreign School Honor Graduate Eligibility</option><option value="PHARMACISTS LICENSURE EXAMINATION">PHARMACISTS LICENSURE EXAMINATION</option><option value="CSC Civil Service Commision">CSC Civil Service Commision</option><option value="PROFESSIONAL REGULATION COMMISSION LICENSURE EXAMINATION FOR MEDICAL TECHNOLOGY">PROFESSIONAL REGULATION COMMISSION LICENSURE EXAMINATION FOR MEDICAL TECHNOLOGY</option><option value="NC II Care giving ">NC II Care giving </option><option value="PROFESSIONAL REGULATION COMMISSION LICENSURE EXAMINATION FOR PROF. TEACHERS">PROFESSIONAL REGULATION COMMISSION LICENSURE EXAMINATION FOR PROF. TEACHERS</option><option value="Civil Engineering Board Exam">Civil Engineering Board Exam</option><option value="CSEE">CSEE</option><option value="Career Service Professional">Career Service Professional</option><option value="Computer Hardware Servicing NC II">Computer Hardware Servicing NC II</option><option value="PNP Entrance Examination">PNP Entrance Examination</option><option value="Drivers License">Drivers License</option><option value="Social Workers Eligibility">Social Workers Eligibility</option><option value="Nursing Licensure Examination">Nursing Licensure Examination</option><option value="Chemical Engineer Licensure Exam">Chemical Engineer Licensure Exam</option><option value="GEODETIC ENGINEERING BOARD EXAM">GEODETIC ENGINEERING BOARD EXAM</option><option value="LICENSUREEXAMINATION FOR GUIDANCE COUNSELORS">LICENSUREEXAMINATION FOR GUIDANCE COUNSELORS</option><option value="NC II COMPUTER HARDWARE SERVICING">NC II COMPUTER HARDWARE SERVICING</option><option value="PRESIDENTIAL DEGREE NO. 907">PRESIDENTIAL DEGREE NO. 907</option><option value="R.A. 1080 AGRICULTURE">R.A. 1080 AGRICULTURE</option></select></td>' +
                    '<td><input type="text" class="form-control civil_dateExam" name="civil_dateExam[]" ></td>' +
                    '<td><input type="text" class="form-control civil_dateRelease" name="civil_dateRelease[]" ></td>' +
                    '<td><button type="button" class="removes btn btn-xs btn-danger"><i class="fa fa-minus-square"></i></button></td>' +
                    '</tr>';
                $('.civil').append(tr);
            }
            </script>
            <tbody class="civil">
                <tr>
                    <td>
                        <select name="civil_career[]" class="form-control select2 civil_career" required="">
                            <option value="">Select Eligibility</option>
                            <option>N/A</option>
                            <option value="LET">LET</option>
                            <option value="CS Professional">CS Professional</option>
                            <option value="CS Sub-Professional">CS Sub-Professional</option>
                            <option value="Electronic Data Processing Specialist Eligibility">Electronic Data Processing Specialist Eligibility</option>
                            <option value="Scientific and Technological Specialist Eligibility">Scientific and Technological Specialist Eligibility</option>
                            <option value="Veteran Preference Rating Eligibility">Veteran Preference Rating Eligibility</option>
                            <option value="Honor Graduate Eligibility">Honor Graduate Eligibility</option>
                            <option value="Barangay Official Eligibility">Barangay Official Eligibility</option>
                            <option value="Barangay Health Worker Eligibility">Barangay Health Worker Eligibility</option>
                            <option value="Barangay Nutrition Scholar Eligibility">Barangay Nutrition Scholar Eligibility</option>
                            <option value="Skills Eligibilities">Skills Eligibilities</option>
                            <option value="Sanggunian Member Eligibility">Sanggunian Member Eligibility</option>
                            <option value="Foreign School Honor Graduate Eligibility">Foreign School Honor Graduate Eligibility</option>
                            <option value="PHARMACISTS LICENSURE EXAMINATION">PHARMACISTS LICENSURE EXAMINATION</option>
                            <option value="CSC Civil Service Commision">CSC Civil Service Commision</option>
                            <option value="PROFESSIONAL REGULATION COMMISSION LICENSURE EXAMINATION FOR MEDICAL TECHNOLOGY">PROFESSIONAL REGULATION COMMISSION LICENSURE EXAMINATION FOR MEDICAL TECHNOLOGY</option>
                            <option value="NC II Care giving ">NC II Care giving </option>
                            <option value="PROFESSIONAL REGULATION COMMISSION LICENSURE EXAMINATION FOR PROF. TEACHERS">PROFESSIONAL REGULATION COMMISSION LICENSURE EXAMINATION FOR PROF. TEACHERS</option>
                            <option value="Civil Engineering Board Exam">Civil Engineering Board Exam</option>
                            <option value="CSEE">CSEE</option>
                            <option value="Career Service Professional">Career Service Professional</option>
                            <option value="Computer Hardware Servicing NC II">Computer Hardware Servicing NC II</option>
                            <option value="PNP Entrance Examination">PNP Entrance Examination</option>
                            <option value="Drivers License">Drivers License</option>
                            <option value="Social Workers Eligibility">Social Workers Eligibility</option>
                            <option value="Nursing Licensure Examination">Nursing Licensure Examination</option>
                            <option value="Chemical Engineer Licensure Exam">Chemical Engineer Licensure Exam</option>
                            <option value="GEODETIC ENGINEERING BOARD EXAM">GEODETIC ENGINEERING BOARD EXAM</option>
                            <option value="LICENSUREEXAMINATION FOR GUIDANCE COUNSELORS">LICENSUREEXAMINATION FOR GUIDANCE COUNSELORS</option>
                            <option value="NC II COMPUTER HARDWARE SERVICING">NC II COMPUTER HARDWARE SERVICING</option>
                            <option value="PRESIDENTIAL DEGREE NO. 907">PRESIDENTIAL DEGREE NO. 907</option>
                            <option value="R.A. 1080 AGRICULTURE">R.A. 1080 AGRICULTURE</option>
                        </select>
                    </td>
                    <td>
                        <input type="text" class="form-control civil_dateExam" name="civil_dateExam[]">
                    </td>
                    <td>
                        <input type="text" class="form-control civil_dateRelease" name="civil_dateRelease[]">
                    </td>
                    <td>
                        <button type="button" class="removes btn btn-xs btn-danger"><i class="fa fa-minus-square"></i></button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>